#headder {
	background: linear-gradient(-63deg, #FF778E, #D35EA7, #A744C0, #7261A3, #4a4a84, #39545a, #1d2141);
	background-size:200% 200%;
	animation: gradient 100s ease infinite;
	height:500px;
	width:80%;
	padding: 10%;
	border-radius: 3px;
}

#forstyGlass {
	box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
	background-color: rgb(228 228 228 / 15%); 
	animation: textdropin 3s ease;
}

@media screen and (min-width: 550) {
	#headder {
		background: linear-gradient(-63deg, #FF778E, #D35EA7, #A744C0, #7261A3, #4a4a84, #39545a, #1d2141);
		background-size:400% 400%;
		animation: gradient 100s ease-in-out infinite;
		height:auto;
		width:80%;
		padding: 10%;
		border-radius: 3px;
	}
}

h1 {
	font-family:monospace,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size:5vw;
	animation: textdropin 4s ease-in-out;
	
	color: #FFF9E3;
	text-align: center;
	padding: 5%;
}

h6 {
	font-family:monospace,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size:3vw;
	animation: textdropin 5s ease-in-out;
	
	color: #FFF9E3;
	text-align: center;
	padding: 5%;
}

p {
	color: #FFF9E3;
	font-family:cursive;
}

#pfp {
	padding: 3;
	float: left;
	
}

#introText {
	border: 3px;
	border-style: solid;
	border-color: #4a4a84;
	border-radius: 3px;
	margin: 1%;
	margin-left: 35%;
	padding: 1%;
	color: #FFF9E3;
}

img {
	display: block;
	border-radius: 3px;
	margin-top: 1%;
	margin-left: 0%;
	width: 30%;
	height: auto;
}

div {
	border-radius: 5px;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: linear-gradient(#39545a,#252730);
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(#7261A3,#A744C0,#D35EA7,#7261A3);
}

::-webkit-scrollbar-thumb:hover {
	background:#D35EA7;
}

::-webkit-scrollbar-corner {
	background: #39545a;
}

::-webkit-scrollbar-button {
	background: #7261A3;
}

::-webkit-resizer{
	background: #39545a;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes textdropin {
	0% {
		opacity: 0%;
		transform:translate(0px,-100px)
	}
	50% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
		transform:translate(0px,0px)
	}
}


style {
	margin: 3px;
	padding: 3px;
	border-radius: 3px;
	display: block;
	position: relative;
}

body{
	background-color: #252730;
}